<body style="background: #fffcf0">
    <div id='wrapper'>

    <br>
    <br>
    <br>
        <h1 style="color: #fbd14b">"Introduction"</h1>
        <p>"안녕하세요!
            <br>이 사이트는 글자를 세주는 멋쟁이사자처럼의 워드카운트 웹페이지입니다. 
            <br>여기에서 글자를 세봅시다." </p>

        <a href="{%url 'home'%}" style="color:#fbd14b">Home으로 돌아가기</a>
    </div>

</body>

<style>
    @font-face {
        font-family: 'LotteMartHappy';
        font-style: normal;
        font-weight: 400;
        src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartHappy/LotteMartHappyMedium.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartHappy/LotteMartHappyMedium.woff') format('woff');
    }

    p {
        font-family: 'LotteMartHappy';
    }

    body {
        width: 500px;
        margin:0 auto;
    }
</style>